@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~antd/dist/antd.css';
body {
  margin: 0;
  font-family: "Montserrat", "Lexend" sans-serif;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
}

svg {
  display: inline-block;
}


// code {
//   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
//     monospace;
// }

.light {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
}
.regular{
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #888888;
}
.boldText {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 30px;
  color: #000000;
}
h1{
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
}
h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 30px;
  color: #888888;
}
h3{
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}